
.header {
    position: relative;
    height: 70px;
    width: 90%;
    padding: 0 100px;
    background-image:#fff;
}

.header__navbar {
    display: flex;
    justify-content: start;
    text-align: center;
    margin-top: 10px;
    height: 58px;
    width: 90%;
    position: fixed;
    flex-wrap: nowrap;
    background-color:#fff;
    border: 1px solid green;
    
}
.grid .logo__header img {
    margin-left: 0px;
    height: 46px;
    width: 76px;
    border: 1px solid green;
    
}

.header__navbar-list {
    display: flex;
    justify-content:flex-end;
    list-style: none;
    width: 88%;
    min-height: 43.78px;
    /* border: 1px solid green; */
}
.header__navbar-list a {
    display:flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.header__navbar-item {
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: #00000000;
    margin-right: 40px;
    /* border: 1px solid green; */
}

.header__navbar-item-link1 {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    width: 120px;
    height: 35px;
    background-color: coral;
    border-radius: 50px!important;
    color: #fff;
    /* border: 1px solid green; */
    

}
.body__mid {
    min-height: 493.52px;
    width: 90%;
    border: 1px solid green;
    margin: 100px 0px 0px 100px;

}
.body__mid .left {
    min-height: 493.52px;
    width: 40%;
    min-height: 30px;
    border: 1px solid green;
}

.body__mid .left text {
    display: block;
    margin-top: 0px!important;
    font-size: 25px;
    font-weight: 500;
    min-height: 30px;
    width: 436.5px;
}
.body__mid .left .text1 {
    display: block;
    margin-top: 0px!important;
    font-size: 25px;
    font-weight: 500;
    min-height: 30px;
    width: 436.5px;
    margin-bottom: 10px;
}
.body__mid .left h2 {
    display: block;
    margin-top: -10px!important;
    margin-bottom: -30px!important;
    margin-top: 20px;
    font-size: 74px;
    font-weight: 700;
    height: 89px;
    width: 436.5px;
    border: 1px solid green;
}
.body__mid .left .hire__me {
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    padding-top: -20px;
    margin-left: 0px;
    padding: 5px 10PX;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: coral;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px!important;

}
.body__mid .left .download__cv {
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: -20px;
    margin-left: 10px;
    padding: 5px 10PX;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #343a40;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px!important;
}

.body__mid .left .social {
    display: block;
    margin-left: -15%;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border: 2px solid coral;
    margin-top: 10px;
    margin-left: 100px;
    
  }
  
  .fa:hover {
      transition: .3s;
      background-color: coral;
    
  }
  
  .fa-facebook,
  .fa-google,
  .fa-reddit,
  .fa-twitter
   {
    background:white;
    color: coral;
    border-radius: 50px;
  }
  .fa-google,
  .fa-reddit,
  .fa-twitter {
    margin-left: 10px;
  }
.body__mid .right {
    display: flex;
    justify-content: flex-end;
    width: 90%;

}
.body__mid .right img {
    margin-top: -65%!important;
    max-height: 620px;
    width: 620px;
}


  .Number {
    display: inline-block;
    color:#495057;
    font-size: 25px;
    justify-content: right;
    margin-top: 50px;
    margin-left: 35%;
    margin-right: -30%;
    margin-bottom: 0px;
    
  }

  p {
    display: inline-block;
    color:#495057;
    font-size: 10px;
    justify-content: center;
    margin-top: -50px;
    margin-left: 33.5%;
    margin-right: -30%;
    
  }

  .box__mid {
    display: block;
    justify-content:left;
    margin-left: 100px;
    padding: 0 100px;
    height: 190px;
    border:1px solid green;
  }

  .box__mid img {
    display: block;
    padding: 0px 0px;
    margin-left: -100px;
    width: 150px;
    height: 150px;
    border:1px solid green;

  }
  .box__mid .content__wrapper {
    display: block;
    margin-left: 80px;
    margin-top: -150px;
    min-height: 75px;
    min-width: 700px;
    border:1px solid green;
    position: relative;


  }
  .box__mid .content {
    border:1px solid green;
  }

  .box__mid .content_downloadcv1 a {
    display: inline-block;
    margin-left: 80px;
    font-size: 10px;
    text-decoration: none;
    background-color:coral;
    padding: 0px 20px;
    border-radius: 50px!important;
    color: #fff;
    font-weight: bold;
}
.box__service {
        display: block;
        margin-left: 100px;
        margin-top: 100px;
        min-height: 250px;
        border:1px solid red;
    }
.box__service .box__wid {
    display: block;
        justify-content:center;
        margin-left: 10px;
        margin-top: 0px;
        padding: 0 200px;
        height: 80px;
        border:1px solid red;
    }
.box__service .box__content_wrapper {
    margin-top: 10px;
    position: relative;
    border:1px solid yellow;
    width: 100%;
    justify-content:center;
    align-items: center;
    display: flex;
    padding:0px 50px;
    
}
.box__service .box__content_wrapper div:nth-child(1) {
    /* div con dau tien cua box__content_wrapper */
    margin-left: 0px;
}
.box__service .box__content_wrapper .box__content {
        margin-top: 10px;
        min-height: 150px;
        width: 25%;
        border:1px solid red;
        margin-right: 20px;
        position: relative;
        margin-left: 20px;
    }
.box__skill {
    display: block;
    margin-top: 150px;
    margin-left: 100px;
    height: 320px;
    width: 90%;
    border:1px solid orchid;
}
.box__skill .box__child__skill {
    display: block;
    text-align: top;
    margin-top: 0px;
    margin-bottom: 5px;
    min-height: 18px;
    width: 100%;
    border:1px solid orchid;
}
.box__skill .box__child__whychooseme {
    display: block;
    margin-top: 0px;
    margin-bottom: 24px;
    min-height: 36px;
    width: 100%;
    border:1px solid orchid;
}

.box__skill .box__child__whychoosemecontent {
    display: block;
    margin-top: 0px;
    margin-bottom: 48px;
    min-height: 70.72px;
    width: 100%;
    border:1px solid orchid;
}
.box__skill .box__child_skill_show {
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    min-height: 19.9px;
    width: 40%;
    border:1px solid orchid;
}

.box__skill .box__child_skill_show1 {
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 10px;
    min-height: 19.9px;
    width: 40%;
    border:1px solid orchid;
}
.portfolio {
    display: block;
    text-align: center;
    position: relative;
    min-height: auto;
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
    padding-bottom: 80px;
    border: 1px solid orange;

}
.portfolio .port {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    border: 1px solid orange;
}
.portfolio .check__work {
    font-size: 30px;
    margin: 0px 0px 24px 0px;
    border: 1px solid orange;
}
.portfolio .content {
    font-size: 16px;
    font-weight: 400;
    border: 1px solid orange;
    margin: 0px 0px 48px 0px;
    padding: 0px 0px 24px 0px;

}

.portfolio .img-wrapper_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .portfolio .column {
    flex: 25%;
    max-width: 35%;
    padding: 0 4px;
  }
  
  .portfolio .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    max-height: 80%;
  }

  .Testmonial {
    display: block;
    text-align: center;
    height: 500px;
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
    border: 1px solid orange;
  }

.Testmonial .Test,
.Lorem
{
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    border: 1px solid orange;
}
.Testmonial .what_people {
    font-size: 30px;
    margin: 0px 0px 24px 0px;
    border: 1px solid orange;
}
.Testmonial .content {
    font-size: 16px;
    font-weight: 400;
    border: 1px solid orange;
    margin: 0px 0px 48px 0px;
    padding: 0px 0px 24px 0px;

}
.Testmonial .border {
    border: 1px solid red;
    margin: 0px 180px;

}
.Testmonial .border img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
}
.Testmonial .border .name {
    font-size: 20px;
    margin-bottom: 5px;
}
.Testmonial .border .job {
    font-size: 15px;
    margin-top: 0px;
    height: 18px;
    padding-bottom: 20px;
}

.Blog {
    display: block;
    text-align: center;
    height: 500px;
    width: 90%;
    margin-left: 100px;
    margin-top: 80px;
    border: 1px solid orange;
}
.Blog .Myblog {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    border: 1px solid orange;
}
.Blog .Lnews {
    font-size: 30px;
    font-weight: 400;
    margin: 0px 0px 24px 0px;
    border: 1px solid orange;
}
.Blog .content {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    border: 1px solid orange;
}
